<div class="jumbotron">
  <h1 class="display-5">About Us!</h1>
  <p class="lead">Welcome to the Jungle! Where you find various products to match your every day needs</p>
  <hr class="my-4">
  <p>Enjoy your stay! Don't forget to check out!</p>
  <p class="lead">
    <a class="btn btn-info btn-lg" href="/" role="button">Back to Home</a>
  </p>
  
</div>